@charset "utf-8";
/* 스크롤시 페이드인 */
body{
	position: relative;
}
.up-on-scroll {
	transition: transform 1s, opacity 3s;
}

/* sub.css - 서브페이지 css */
html,
h1,
h2,
h3,
h4,
h5,
p {
	padding: 0;
	margin: 0;
}

.about {
	position: absolute;
	top: 240px;
	color: #fff;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

.about h2 {
	font-size: 63px;
	margin-bottom: 25px;
}

p {
	font-size: 15px;
	line-height: 30px;
	color: #666;
}

.about h3 {
	font-size: 24px;
	margin-top: 180px;
}

/* 버튼영역 */

.about_btn {
	margin-top: 40px;
	position: relative;
}

/* 포트폴리오 버튼*/
.portfolio {
	position: absolute;
	display: block;
	left: calc(50% - 100px);
	border: 1px solid #fff;
	width: 200px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-radius: 25px;
	font-size: 15px;
}

/* 다운로드 버튼 */
.download {
	position: absolute;
	display: none;
	left: calc(50% - 100px);
	border: 1px solid #fff;
	width: 200px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-radius: 25px;
	font-size: 15px;
}

/* 클라이언트 영역 */

.about_client h3 {
	margin-bottom: 20px;
}

.client_list {
	display: flex;
	flex-wrap: wrap;
	width: 1400px;
	margin: 40px auto;
}

.client_list li {
	border: 1px solid #777;
	margin-top:-1px;
	margin-left:-1px;
}

.client_list img {
	opacity: 0.4;
}

.client_list li:hover img {
	opacity: 1;
}

/* 하단 서브타이틀 */
.subt h3 {
	line-height: 1.5;
}

.subt p {
	padding-top: 30px;
}


/* 컨택트 박스 영역 */
.contact_box {
	padding-top: 125px;
}

.contact_box h4 {
	font-size: 14px;
}

.contact_box h2 a{
	padding-top: 22px;
	font-size: 67px;
	color: #000;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.contact_box h2 a:hover{
	color: #fff;
	transition: 0.6s
}




/* 하단 영역*/

.about_bottom_switch {
	position: relative;
	padding-top: 115px;
	bottom: 58px;
	width: 100%;
}

.sound {
	position: absolute;
	left: 79px;
}

.sound img {
	padding-right: 30px;
	vertical-align: middle;
}

.share {
	position: absolute;
	right: 80px;
}

.btn_more {
	position: absolute;
	left: calc(50% - 52.5px);
	bottom: 0px;
	width: 105px;
	height: 45px;
	border: 2px solid #fff;
	border-radius: 30px;
	text-align: center;
	line-height: 45px;
	font-size: 14px;
}
