@charset "utf-8";
/* 스크롤시 페이드인 */
.up-on-scroll {
	transition: transform 1s, opacity 3s;
}

/* sub.css - 서브페이지 css */
html,
h1,
h2,
h3,
h4,
h5,
p {
	padding: 0;
	margin: 0;
}

.contact_title{
	position: absolute;
	top: 240px;
	color: #fff;
	text-align: center;
	width: 100%;
	overflow: hidden;
}
