body #magicMouseCursor {
	position: fixed;
	width: 35px;
	height: 35px;
	border: 2px solid #fff;
	border-radius: 50%;
	z-index: 9999;
	left: 0;
	top: 0;
	transition: transform 0.07s, width 0.3s, height 0.3s;
	pointer-events: none;
	background: rgba(255, 255, 255, 0.47);
}

body #magicMouseCursor.cursor-square {
	border-radius: 0;
}

body .magic-hover {
	transition: all 0.2s;
}

body .magic-hover:hover {
	cursor: none;
	
}
