@charset "utf-8";
/* 스크롤시 페이드인 */
body{
	position: relative;
}
.up-on-scroll {
	transition: transform 1s, opacity 3s;
}

/* sub.css - 서브페이지 css */
html,
h1,
h2,
h3,
h4,
h5,
p {
	padding: 0;
	margin: 0;
}

.story {
	position: absolute;
	top: 240px;
	color: #fff;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

.story h2 {
	font-size: 3.5vw;
	margin-bottom: 25px;
}

p {
	font-size: 15px;
	line-height: 30px;
	color: #666;
}

.story h3 {
	font-size: 36px;
	margin-top: 180px;
}

/* 버튼영역 */

.story_btn {
	margin-top: 40px;
	position: relative;
}

/* 포트폴리오 버튼*/
.portfolio {
	position: absolute;
	display: block;
	left: calc(50% - 100px);
	border: 1px solid #fff;
	width: 200px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-radius: 25px;
	font-size: 15px;
}

/* 다운로드 버튼 */
.download {
	position: absolute;
	display: none;
	left: calc(50% - 100px);
	border: 1px solid #fff;
	width: 200px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-radius: 25px;
	font-size: 15px;
}

/* 클라이언트 영역 */

.story_client h3 {
	margin-bottom: 20px;
}

.client_list {
	display: flex;
	flex-wrap: wrap;
	width: 1400px;
	margin: 40px auto;
}

.client_list li {
	border: 1px solid #777;
	margin-top:-1px;
	margin-left:-1px;
}

.client_list img {
	opacity: 0.4;
}

.client_list li:hover img {
	opacity: 1;
}

/* 하단 서브타이틀 */
.subt h3 {
	line-height: 1.5;
}

.subt p {
	padding-top: 30px;
}


/* 컨택트 박스 영역 */
.contact_box {
	padding-top: 125px;
}

.contact_box h4 {
	font-size: 14px;
}

.contact_box h2 a{
	padding-top: 22px;
	font-size: 67px;
	color: #000;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.contact_box h2 a:hover{
	color: #fff;
	transition: 0.6s
}




/* 하단 영역*/

.story_bottom_switch {
	position: relative;
	margin-top: 115px;
	bottom: 58px;
	width: 100%;
}

.sound {
	position: absolute;
	left: 79px;
}

.sound img {
	padding-right: 30px;
	vertical-align: middle;
}

.share {
	position: absolute;
	right: 80px;
}

.btn_more {
	position: absolute;
	left: calc(50% - 52.5px);
	bottom: 0px;
	width: 105px;
	height: 45px;
	border: 2px solid #fff;
	border-radius: 30px;
	text-align: center;
	line-height: 45px;
	font-size: 14px;
}


/*******************************************************/
.story{
    text-align: center;
}


/* 리크루트 이미지랩 */
.recwrap{
    width: 70%;
    margin: 0 auto;
}
.recwrap img{
    width: 100%;
}

.date a{
    font-size: 14px;
    color: #666;
}

.date a:hover{
    color: #fff;
}

.tit_sub{
	text-align: center;
}
.tit_sub a{
    font-size: 36px;
    text-align: center;
}


.tit_sub ul{
    display: block;
}

.link {
	position: relative;
    height: 12px;
	left: -50px;
	
	margin-bottom: 100px;
	width: 100%;
	
	    
}

.btn_wrap:hover .btn_span {
	transform: translate3d(0, -100%, 0);
}

.btn_wrap {
	overflow: hidden;
}

.btn_span {
	transition: transform .3s;
	font-size: 12px;
	font-weight: 700;
}

.btn_span::before {
	position: absolute;
	content: attr(data-hover);
	top: 100%;
}

